
# Define que todos los paquetes bajo el scope @luwydyroweb pertenecen al registro de GitHub Packages.

@luwydyroweb:registry=https://npm.pkg.github.com/
# Autentica todas las peticiones al registro de GitHub Packages usando una variable de entorno.
# Esta línea es para la automatización (GitHub Actions).
//npm.pkg.github.com/:_authToken=${NPM_TOKEN}

# Mantén compatibilidad temporal con el scope anterior durante la transición (opcional):
# @luwy-dyro:registry=https://npm.pkg.github.com/